[[source]]
url = "https://pypi.Python.org/simple/"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
pyqt5 = "5.15.9"
pyqt5-tools = "5.15.9.3.3"
pyqtwebengine = "5.15.6"
requests = "2.29.0"
pyinstaller = "5.10.1"

[dev-packages]

[requires]
python_version = "3.8"
